services:
  # Backend
  - type: web
    name: fsd2-server
    env: node
    region: ohio
    plan: free
    buildCommand: cd server && npm install
    startCommand: cd server && npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: MONGO_URI
        sync: false
      - key: JWT_SECRET
        sync: false

  # Frontend (Static Site)
  - type: web
    name: fsd2-client
    env: static
    region: ohio
    plan: free
    buildCommand: cd client && npm install && npm run build
    staticPublishPath: client/dist
    envVars:
      - key: VITE_API_BASE_URL
        fromService:
          type: web
          name: fsd2-server
          property: host
